<ion-header>
  <ion-toolbar>
    <ion-segment value="default" (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
      <ion-segment-button value="0">
        <ion-label>View My lists</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Add Item</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="list-container">
    <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">  
      <ion-slide><app-all-lists></app-all-lists></ion-slide>  
      <ion-slide><app-item-entry></app-item-entry></ion-slide>
    </ion-slides> 
  </div>
</ion-content>
