<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input [clearInput]="true" placeholder="Enter establishment name" [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input [clearInput]="true" placeholder="Enter establishment name" [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Age</ion-label>
      <ion-input [clearInput]="true" placeholder="Enter establishment name" [(ngModel)]="age"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input [clearInput]="true" placeholder="Enter establishment name" [(ngModel)]="description"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Hometown</ion-label>
      <ion-input [clearInput]="true" placeholder="Enter establishment name" [(ngModel)]="hometown"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Country</ion-label>
      <ion-input [clearInput]="true" placeholder="Enter establishment name" [(ngModel)]="country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [clearInput]="true" placeholder="Enter establishment name" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col text-center>
        <ion-button (click)="updateUser()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>