<div formGroupName="listItem">
  <ion-item>
    <ion-label position="stacked">Place Name</ion-label>
    <ion-input [clearInput]="true" placeholder="Enter establishment name" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [clearInput]="true" placeholder="Enter beer name" [(ngModel)]="beer"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input [clearInput]="true" placeholder="Enter location" [(ngModel)]="location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Add To My List</ion-label>
    <ion-select placeholder="Make a Selection" [(ngModel)]="selectedList">
      <ion-select-option value="">No Selection</ion-select-option>
      <ion-select-option [value]="item.id" *ngFor="let item of myLists">{{item.listName}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Select Beer type</ion-label>
    <ion-select placeholder="Make a Selection" [(ngModel)]="selectedBeerType">
      <ion-select-option value="">No Selection</ion-select-option>
      <ion-select-option value="Dark">Dark</ion-select-option>
      <ion-select-option value="Porter">Porter</ion-select-option>
      <ion-select-option value="Ale">Ale</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Price</ion-label>
    <ion-input [clearInput]="true" placeholder="Ex 12.99" type="number" [(ngModel)]="price"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Rating</ion-label>
    <!-- <ion-range></ion-range> -->
    <ion-input [clearInput]="true" placeholder="Enter a rating between 0 - 5" type="number" [(ngModel)]="rating" min="0" max="5"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Notes</ion-label>
    <ion-input [clearInput]="true" placeholder="Enter flavours you notice" class="ion-text-wrap" [(ngModel)]="notes"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="save()">Save</ion-button>
</div>